/* PersonalInfo.css */
.step {
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #0056b3;
}
.email:focus {
  border: hsl(243, 100%, 62%);
}
input.phone:focus{
  border:  hsl(354, 84%, 57%);
}